@using HouseSales.Web.Models
@using HouseSales.Web.HtmlHelpers
@using HouseSales.Web.Properties

@model PropertyListViewModel

@{
    ViewBag.Title = "Search results...";
}

@Html.Partial("Resources")

<div class="navbar navbar-default navbar-fixed-top search-bar">
    <div id="searchBarContainer" class="container">
        <div class="col-xs-2">
            <a class="navbar-brand logo-text" href="#">House Price Search</a>
        </div>        
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4 pull-right">
            @using (Html.BeginForm("Index", "PropertyList", FormMethod.Get, new { @class = "navbar-form", @id = Resources.TXT_FILTER_INPUT_FORM_NAME, @role = "search" }))
            {
                <div class="input-group">
                    <input type="text" name="@Resources.TXT_POSTCODE_INPUT_NAME" class="form-control" value="@Model.Postcode" placeholder="Enter a postcode..." />
                    <div class="input-group-btn">
                        <button id="@Resources.TXT_SEARCH_BUTTON_NAME" class="btn btn-primary">Search</button>
                    </div>
                </div>

                if (Model.SelectedType != null)
                {
                    <input type="hidden" name="@Resources.TXT_PROPERTY_TYPE_INPUT_NAME" value="@Model.SelectedType.Value" />
                }

                if (Model.SelectedPeriod != null)
                {
                    <input type="hidden" name="@Resources.TXT_SEARCH_PERIOD_INPUT_NAME" value="@Model.SelectedPeriod.Value" />
                }

                if (Model.OrderBy != null)
                {
                    <input type="hidden" name="@Resources.TXT_ORDER_BY_FIELD_INPUT_NAME" value="@Model.OrderBy.Field" />
                    <input type="hidden" name="@Resources.TXT_ORDER_BY_DIRECTION_INPUT_NAME" value="@Model.OrderBy.Direction" />
                }

                if (Model.PagedResults != null)
                {
                    <input type="hidden" name="@Resources.TXT_PAGE_INPUT_NAME" value="@Model.PagedResults.Page" />
                }
            }
        </div>
    </div>
</div>

@if (ViewData[Resources.TXT_POSTCODE_INVALID_VIEWDATA_KEY] != null)
{
    <div class="container">
       <div class="lead alert alert-danger">@ViewData[Resources.TXT_POSTCODE_INVALID_VIEWDATA_KEY]</div>
    </div>

    return;
}  

@if (@Model != null)
{

    if(Model.PagedResults.TotalItems == 0)
    {
        <div class="container">
            <div class="visible-sm visible-xs"><br /></div>
            <div class="lead alert alert-warning">No results found...</div>
        </div>
    }

    <div class="container">

        <hr />

        <div class="col-sm-12">
            <div class="col-sm-4">
                <p class="lead"> @Html.GetPagingCaption(Model.PagedResults, Model.MaxResults) </p>
            </div>
            <div class="col-sm-4 col-xs-6">
                @Html.BootstrapSingleSelectList(Resources.TXT_PROPERTY_TYPE_DROPDOWN_NAME, Model.TypeFilterOptions)
            </div>
            <div class="col-sm-4 col-xs-6">
                @Html.BootstrapSingleSelectList(Resources.TXT_PERIOD_DROPDOWN_NAME, Model.SearchPeriodOptions)
            </div>
        </div>
    </div>

    <div class="visible-xs">
        <br />
    </div>

    <div class="visible-xs" id="smallList">
        @{ Html.RenderPartial("PropertyListDetailsSmall", Model); }
    </div>

    <div class="container visible-lg visible-md visible-sm" id="largeList">
        @{ Html.RenderPartial("PropertyListDetailsLarge", Model); }
    </div>
   
    <div class="container">
        <nav>
            @Html.BootstrapPagingLinks(Model.PagedResults, x => @Url.Action("Index", "PropertyList", new { @page = (x), @postcode = Model.Postcode }))
        </nav>
    </div>
}
